<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Posts</title>

</head>
<body>

<h2>Posts</h2>
<div class="container">
    <div th:if="${not #lists.isEmpty(posts)}">
        <h3>Post List</h3>
        <table class="table table-striped" width="100%" border="4">
            <tr>
                <th>User</th>
                <th>Category</th>
                <th>Name</th>
                <th colspan="3">Actions</th>
            </tr>
            <tr th:each="post : ${posts}">
                <td th:text="${post.user.name}"></td>
                <td th:text="${post.category.name}"></td>
                <td th:text="${post.title}">description</td>
                <td align="middle"><a th:href="${'/post/delete/' + post.id}">Delete</a></td>
                <td align="middle"><a th:href="${'/post/' + post.id}">Show</a></td>
                <td align="middle"><a th:href="${'/post/editar/' + post.id}">Edit</a></td>
            </tr>
        </table>
    </div>
</div>

<a href="/post/new"><button>New post</button></a>
</body>
</html>