<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Post</title>

</head>
<body>

<h2 th:text="${post.title}"></h2>

<div>
    <label>User:</label>
    <label th:text="${post.user.name}"></label>
</div>

<div>
    <label>Category:</label>
    <label th:text="${post.category.name}"></label>
</div>

<div>
    <label>Date:</label>
    <label th:text="${post.date}"></label>
</div>

<FIELDSET th:text="${post.text}"></FIELDSET>

<div align="right">
    <label th:text="${post.likes + ' like '}"></label>
</div>

<div align="right">
    <a class="btn" th:href="${'/post/like/' + post.id}"><button>like</button></a>
    <a class="btn" th:href="${'/post/dislike/' + post.id}"><button>dislike</button></a>
</div>

<form th:object="${comment}" th:action="@{/comment}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <input type="hidden" th:field="*{post}"/>
    <div>
        <span class="input-group-addon">Comment:</span>
        <input type="text" th:field="*{text}"/>
        <button type="submit">Save</button>
        <span style="color: red;" th:if="${#fields.hasErrors('text')}" th:errors="*{text}">Empty or more 50</span>
    </div>
</form>

<hr th:each="comment : ${post.comments}">
    <div th:text="${comment.date}"></div>
    <div th:text="${comment.text}"></div>
    <div align="right">
        <label th:text="${comment.likes + ' like '}"></label>
    </div>

    <div align="right">
        <a class="btn" th:href="${'/comment/like/' + comment.id}"><button>like</button></a>
        <a class="btn" th:href="${'/comment/dislike/' + comment.id}"><button>dislike</button></a>
    </div>
</hr>

<a class="btn" href="/posts"><button>back</button></a>

</body>
</html>