<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Post Form</title>

</head>
<body>
<h2>Post Details</h2>
<form th:object="${post}" th:action="@{/post}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <input type="hidden" th:field="*{likes}"/>
    <div>
        <span class="input-group-addon">Title:</span>
        <input type="text" th:field="*{title}"/>
        <span style="color: red;" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Empty or more 20</span>
    </div>
    <div>
        <div>
            <span class="input-group-addon">Text:</span>
        </div>
        <textarea cols="40" rows="5" th:field="*{text}"></textarea>
        <span style="color: red;" th:if="${#fields.hasErrors('text')}" th:errors="*{text}">Empty or more 100</span>
    </div>
    <div>
        <span class="input-group-addon">Date:</span>
        <input type="date" th:field="*{date}"/>
        <span style="color: red;" th:if="${#fields.hasErrors('date')}" th:errors="*{date}">Empty</span>
    </div>
    <div>
        <label>Categories:</label>
        <select th:field="*{category}">
            <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
        </select>
    </div>
    <div>
        <label>Users:</label>
        <select th:field="*{user}">
            <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.name}"></option>
        </select>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
<a class="btn" href="/posts"><button>back</button></a>
</body>
</html>