<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Root</title>

</head>
<body>
<div class="container">
    <div th:each="post : ${posts}">
        <pre th:text="${'Title: ' + post.title}"></pre>
        <pre th:text="${'          Date: ' + post.date}"></pre>
        <pre th:text="${'          User: ' + post.user.name}"></pre>
        <pre th:text="${'          category: ' +post.category.name}"></pre>
        <pre th:text="${'          text: ' +post.text}"></pre>
        <pre th:text="${'          likes: ' + post.likes}"></pre>
        <pre>          Comments: </pre>
        <div th:each="comment : ${post.comments}">
            <pre th:text="${'                    text: ' + comment.text}"></pre>
            <pre th:text="${'                    Date: ' + comment.date}"></pre>
            <pre th:text="${'                    likes: ' + comment.likes}"></pre>
        </div>
    </div>
</div>
</body>
</html>